    <nav class="sidenav bg-info">
        <a href="/admin/index" class="">
            <i class="fas fa-home"></i>
            <small>Início</small>
        </a>


        <a href="/config/admin" class="">
            <i class="fas fa-users-cog"></i>
            <small>Admin</small>
        </a>

        <a href="/config/neighborhood" class="">
            <i class="fas fa-search"></i>
            <small>Bairros</small>
        </a>


        <a href="/admin/logout" class="">
            <i class="fas fa-sign-out-alt text-danger"></i>
            <small>Sair</small>
        </a>


        <div id="footer" class="text-center text-white">
            <small> 
                <strong>Produzido por SYS - © Todos os Direitos Reservados</strong>
            </small>
        </div>
    </nav>
