<body>
        <div class="col-sm-12 container">
            <div class="card text-white">
                <div class="card-header bg-info">
                    <h2>Faça seu login, ademir!</h2>
                </div>
                <div class="card-body bg-dark">
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" name="email" class="form-control" placeholder="Email.." id="email" autofocus>
                            <small id="erro-name" class="text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="password">Senha:</label>
                            <input type="password" name="password" class="form-control" placeholder="Senha.." id="password">
                            <small id="erro-password" class="text-danger"></small>
                        </div>
                        <button type="submit" class="btn btn-outline-info">Login</button>
                        <br>
                    </form>
                        <div class="mt-2">
                            <small class="h6">Para cadastrar um Admin é necessario logar com uma conta!</small>
                        </div>
                </div>    
            </div>
        </div>        
</body>