
/* Gerais */
body{
    height: 100%;
}


#navbar  a{
    color: white;
}

#navbar  a:hover{
    color: rgba(255, 255, 255, 0.7) ;
}

button{
    width: 120px;
}

/* SideNav */
nav.sidenav{
    height: 100%;
    width: 10%;
    

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    overflow-x: hidden;
    padding-top: 20px;

}

nav.sidenav a {
  padding: 10px 8px 14px 18px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

nav.sidenav a:hover{
    color: rgba(255, 255, 255, 0.7);
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: .3s;

    padding: 5px;

}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: .5s;
}

/* Index */
div#users .card{
    width: 300px;
    height: 300px;

}

/* Users */
table button{
    width: 80px;
}

/* Parceiros */
div#partners{
    color: white; 
}

div#partners .card{
    width: 400px;
    height: 250px;

    position: relative;
    top: 50px;

    margin-bottom: 100px;

}


div#partners a{
    display: flex;
    justify-content: center;
}

div#footer{
    position: relative;
    top: 400px;
}
